{% extends "base_template.html" %}
{% load static %}
{% csrf_token %}
{% block css %}
    <style>
        .heading {
            font-weight: 500;
            font-size: 0.9em;
        }
        .desc_text{
            font-size: 0.8em;
        }
        .take_up_space{
            min-height: 1em;
            margin-bottom: 0.5em;
        }
        .text_take_up_space{
            min-height: 10em;
            {#margin-bottom: 1em;#}
        }

    </style>
{% endblock %}
{% block content %}

    <div class="container" style="width: 100%; height:100%;">
        <div class="row" style="margin-top: 6em; height: 75vh">
            <div class="col-sm-10" style="height: 100%">
                <div class="row" style="height: 100%; line-height: 100%;">
                    <iframe id="viz_iframe" src="" title="Harmonisation Table Heatmap Chart" style="width: 100%; height: 100%;  border:none"></iframe>
                    <div id="loading_bar" style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:50%;margin-top:-6em; display: none">
                        <img style="height: 13em; width: 13em;" src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                        <div class="heading" style="font-size: 1.5em">Loading...</div>
                    </div>
                </div>
                <div class="row" style="margin-top: 1em">
                    <label class="col-sm-3">
                        Order Columns By:
                        <select id="col_order" class="form-control">
                            <option value="default">Default</option>
                            <option value="alphabetically">Alphabetically</option>
                            <option value="model_type">Model Type</option>
                            <option value="coverage">Geographical Coverage</option>
                            <option value="time_steps_in_solution">Time Step</option>
                        </select>
                    </label>
                    <label class="col-sm-3" style="display: none">
                        Group Columns By:
                        <select id="col_group" class="form-control">
                            <option value="no_grouping">No Grouping</option>
                            <option value="model_type">Model Type</option>
                            <option value="coverage">Geographical Coverage</option>
                        </select>
                    </label>
                    <label class="col-sm-3" >
                        Order Rows By:
                        <select id="row_order" class="form-control">
                            <option value="default">Default</option>
                            <option value="alphabetically">Alphabetically</option>
                            <option value="var_category">Variable Category</option>
                        </select>
                    </label>
                    <label class="col-sm-3" style="display: none">
                        Group Rows By:
                        <select id="row_group" class="form-control">
                            <option value="no_grouping">No Grouping</option>
                            <option value="var_category">Variable Category</option>
                        </select>
                    </label>

                </div>
            </div>

            <div class="col-sm-2" style="margin-top: 2em">
                <h3>Information</h3>
{#                <div class="heading">Model Name</div>#}
                <label for="model_name">Model Name
                    <select class="form-control desc_text take_up_space" id="model_name">
                    {% for el in models %}
                    <option value="{{ el.model_name }}">{{ el.model_title }}</option>
                    {% endfor %}
                    </select>
                </label>
                <div class="heading">Model Geographical Coverage</div>
                <div class="desc_text take_up_space" id="geo_cov"></div>
                <div class="heading">Model Type</div>
                <div class="desc_text take_up_space" id="model_type"></div>
                <div class="heading"> Model Time Step (Years)</div>
                <div class="desc_text take_up_space" id="model_timestep"></div>
                <div class="heading">Model Description</div>
                <div class="desc_text text_take_up_space" id="model_desc"></div>
{#                <hr>#}
{#                <div class="heading">Variable Name</div>#}
                <label for="var_name">Variable Name
                    <select class=" form-control desc_text take_up_space" id="var_name" >
                    {% for el in variables %}
                        <option value="{{ el.var_name }}">{{ el.var_title }}</option>
                    {% endfor %}
                    </select>
                </label>
{#                <div class="heading">Variable Unit</div>#}
{#                <div class="desc_text take_up_space" id="var_unit"></div>#}
{#                <div class="heading">Variable Source</div>#}
{#                <div class="desc_text take_up_space" id="var_source"></div>#}
                <div class="heading"> Category</div>
                <div class="desc_text take_up_space" id="var_cat"></div>
                <div class="heading">Variable Definition</div>
                <div class="desc_text text_take_up_space" id="var_def"></div>

            </div>
        </div>

    </div>
    <div id="models_container" style="display: none">
        {% for model in models %}
            <div id={{ model.model_name }}>
{#                <span id="long_title">{{ model.long_title }}</span>#}
                <span class="d_model_coverage">{{ model.coverage_title }}</span>
                <span class="d_model_type">{{ model.type_of_model }}</span>
                <span class="d_model_timestep">{{ model.time_steps_in_solution }}</span>
                <span class="d_model_description">{{ model.short_description }}</span>
            </div>
        {% endfor %}
    </div>
    <div id="variables_container" style="display: none">
        {% for variable in variables %}
            <div id={{ variable.var_name }}>
                <span class="d_var_title">{{ variable.var_title }}</span>
                <span class="d_var_category">{{ variable.var_category }}</span>
                <span class="d_var_definition">{{ variable.var_definition }}</span>
            </div>
        {% endfor %}
</div>

{% endblock %}

{% block js %}
{#    <script src="https://www.amcharts.com/lib/4/core.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/charts.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/fonts/notosans-sc.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/fonts/notosans-sc.js"></script>#}
{#    <!--For maps-->#}
{#    <script src="https://www.amcharts.com/lib/4/maps.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/geodata/worldHigh.js"></script>#}
{#    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>#}
{#    <!--Import D3-->#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>#}
    <script>

        $("#col_order,#row_order").change(function () {
            var viz_frame = $('#viz_iframe');
            viz_frame.hide();
            $('#loading_bar').show();

            var data = {
                "col_order": $('#col_order').val(),
                "row_order": $('#row_order').val(),
                "col_group": $('#col_group').val(),
                "row_group": $('#row_group').val(),
                "y_var_names": ["variable"],
                "y_axis_title": "Variables",
                "y_var_units":["-"],
                "x_axis_name": "model",
                "x_axis_title": "Models",
                "x_axis_unit": "-",
                "z_axis_name": "value",
                "z_axis_title": "Value",
                "z_axis_unit": "-",
                "min_max_z_value": 0,
                "color_list_request": ["grey_green","orange_yellow","light_red"],
                "distinct":["Extractable model output", "Interlinkable model input", "No explicit output or input"],
                "dataset": "harm_data.json",
                "dataset_type": "file"
            };
            var url = '';
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    console.log(key + " -> " + data[key]);
                    if (Array.isArray(data[key])){
                        for(var j=0; j<data[key].length;j++) {
                            url = url + String(key) + '[]' +"="+ String(data[key][j]) +'&'
                        }
                    }else{
                        url = url + String(key) + "="+ String(data[key]) + '&'
                    }

                }
            }

            var complete_url = "/visualiser/show_heat_map_chart?" + url;
            viz_frame.attr('src',complete_url);
            viz_frame.load(function () {
                $(this).show();
                $('#loading_bar').hide();
            });
            console.log(url);
            

        });
        $('#col_order').val('default').trigger('change');
    </script>

    <script>
        $("#model_name").change(function () {
            $('#geo_cov').text($('#'+ String($(this).val()) +' .d_model_coverage').text());
            $('#model_type').text($('#' + String($(this).val()) + ' .d_model_type').text());
            $('#model_timestep').text($('#' + String($(this).val()) + ' .d_model_timestep').text());
            $('#model_desc').text($('#' + String($(this).val()) + ' .d_model_description').text());

        });
        $("#var_name").change(function () {
            $('#var_def').text($('#' + String($(this).val()) + ' .d_var_definition').text());
            $('#var_cat').text($('#' + String($(this).val()) + ' .d_var_category').text());
        });

        $('#model_name').val('gemini_e3').trigger('change');
        $('#var_name').val('population').trigger('change');

    </script>




{% endblock %}






