{% load static %}
<section id="footer" class="section footer" style="padding-top: 2em; padding-bottom: 2em;margin-top: 3em">
    <div class="container">
        <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-2"><img src="{% static "images/eu_flag.png" %}"></div>
            <div class="col-sm-3" style="font-family: 'Calibri';">The PARIS REINFORCE project has received funding from the European Union’s Horizon
                2020 Research and Innovation Programme under grant agreement No 820846.</div>
            <div class="col-sm-4" style="font-family: 'Calibri'">The content of this page is for information purposes only. The relevant legal
                instruments and the text of the call shall take precedence over the information contained in this page.
                The European Commission or EASME does not accept responsibility for any use made of the information
                contained therein.
            </div>
            <div class="col-sm-3 align-center">
                <ul class="social-network social-circle">
                    <li><a href="https://twitter.com/ParisReinforce" class="icoTwitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/14850821/" class="icoLinkedin" title="Linkedin"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/parisreinforce/" class="icoInstagram" title="Instagram"><i
                            class="fa fa-instagram"></i> </a></li>
                    <li><a href="https://www.youtube.com/channel/UC4g1FQ-QX33QH9HrTNMnkIA" class="icoYoutube"
                           title="Youtube"><i class="fa fa-youtube-play"></i> </a></li>

                </ul>
            </div>
        </div>
    </div>
</section>