{% load static %}
<div class="col-sm-12 col-xs-12">
    <h1 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        Co-creation process
    </h1>
</div>
<span id="methods" style="position: relative; top:-7em"></span>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <p class="col-xs-12 col-sm-12 col-md-12">
        As part of the PARIS REINFORCE research project, a regional workshop took place on November 21, 2019, in
        Brussels, Belgium. It was a pan-European initiative for the co-production of research underpinning new climate
        policy in Europe, drawing from the outcomes of five-month exhaustive consultation, in which high-level
        policymakers were introduced to the project and asked to provide policy areas that they would be most interested
        in research being carried out within. The consultation, along with an open crowd-sourcing process carried out
        via an online polling platform 24 h before the event, resulted in a list of 22 topics, which were broken down
        into 3 thematic groups. Stakeholders were invited based on their displayed participation or interest in previous
        European climate policy events, resulting in a sample of over 800 invitations. During the workshop, high-level
        staff of the EC directorates-general (DGs) for energy, climate and research, ministries and climate-related
        governmental bodies from EU Member States, international organisations, business representatives, and scientists
        participated. 57 individuals attended the workshop physically, although the event was also livestreamed to allow
        as large and diversified an audience as possible.
    </p>
    <img class="col-md-12 col-xs-12 fade-img" src={% static "images/wwheu_public_ui/avatars.png" %}>
    <p class="col-xs-12 col-sm-12 col-md-12">

        During the morning sessions, a detailed policy brief on what the climate-economy models can and cannot do was
        handed out, presented, and discussed with stakeholders, and the I2AM PARIS platform was launched and thoroughly
        presented, allowing stakeholders to express their preferences over its final specifications, content, design,
        and directions. The afternoon consultation was broken down into three sessions, in respect to the 3 thematic
        groups of the 22 topics. During each session, a chairperson spent the first 10 min explaining each potential
        research area to the audience, then allowing participants to vote (via sli.do1) on and prioritise which
        questions they would be most interested in discussing. Given the range of proposed questions, this process was
        important to enable discussions to be held over the most important topics to the stakeholders. After topic
        selection, the floor was open for discussion between chairs and audience. Chairs spent 1–2 min introducing the
        discussion on each topic, and then stakeholders were able to raise any points or questions they had over the
        proposed research areas. Following the discussion, sli.do voting again allowed stakeholders to vote according to
        how relevant they see it for the project to follow up on and conduct research in each topic. The process is
        illustrated below.
    </p>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-5 col-sm-1 col-md-1 back-1 next-back" style="text-align: center"><i
                class="fa fa-angle-left next-back-arrow"></i></div>
        <div class="col-xs-2 col-sm-10 col-md-10 arrow-message">Use the arrows to see the process step by step</div>
        <div class="col-xs-5 col-sm-1 col-md-1 next-1 next-back" style="text-align: center"><i
                class="fa fa-angle-right next-back-arrow"></i></div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center; margin-top: 3em; min-height: 45em">
            <img class="methods-image methods-image-1 opaque" style="width: 100%"
                 src="{% static 'images/WWH_EU_Figure 1_1.png' %}"
                 alt="Stakeholder Engagement process">
            <img class="methods-image methods-image-2" style="width: 100%; "
                 src="{% static 'images/WWH_EU_Figure 1_2.png' %}"
                 alt="Stakeholder Engagement process">
            <img class="methods-image methods-image-3" style="width: 100% ; "
                 src="{% static 'images/WWH_EU_Figure 1_3.png' %}"
                 alt="Stakeholder Engagement process">
            <img class="methods-image methods-image-4" style="width: 100%; "
                 src="{% static 'images/WWH_EU_Figure 1_4.png' %}"
                 alt="Stakeholder Engagement process">
        </div>
    </div>
</div>