{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="text-align: center; margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-yellow" style="text-align: center">
                        <a style="padding-top: 3em; white-space: normal" href=""
                           class="">Commentaries
                            & Policy Briefs</a>
                        <i class="fa fa-comment mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">
                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        PARIS REINFORCE: What can our models deliver?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The fundamental aim of PARIS REINFORCE is to enhance and improve climate
                                        policymaking. In order to do this, the consortium has access to a range of
                                        sophisticated climate-economic scientific models. A key novelty of the project
                                        is its devotion to ‘demand-driven’ research. That is, the questions these models
                                        will provide insights into and the assumptions they will do this based upon are
                                        to be stakeholder-determined through an extensive and exhaustive process.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Ben McWilliams, Georg Zachmann, Alevgul Sorman, Ester Galende, Ajay Gambhir,
                                        Alexandros Nikas, Haris Doukas
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Policy brief</span>
                                        <span class="text-tag">Integrated assessment models</span>
                                        <span class="text-tag">Climate policy</span>
                                        <span class="text-tag">Climate Science</span>
                                        <span class="text-tag">Co-creation</span>
                                        <span class="text-tag">Policy questions</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Climate injustices and the Climate Law in Greece
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Assoc. Prof. Haris Doukas (National Technical University of Athens) responds to
                                        WWF's questions on climate justice, the need for a new and just Climate Law in
                                        Greece, and the PARIS REINFORCE project, in an interview in LiFO.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        LiFO
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.lifo.gr/now/perivallon/enas-ploysios-odigei-suv-enas-ftohos-hanei-spiti-toy-apo-plimmyra-oi-anisotites-tis"
                                           target="_blank">Climate injustices and the Climate Law in Greece (in
                                            Greek)</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Law</span>
                                        <span class="text-tag">Climate Injustice</span>
                                        <span class="text-tag">Greece</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        The Delignitisation Roller Coaster in Greece: An Old Car and a Steep Slope Ahead

                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        April 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Lignite production and use in Greece has been dropping in the last decade,
                                        marking a sharp decline during COVID-19. According to the country’s National
                                        Energy and Climate Plan (NECP), lignite must be completely phased out by 2028.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        The Future of Work
                                    </p>
                                    <p>
                                        <strong>Ciatation:</strong>
                                        Doukas, H., & Nikas, A. (2021). The Delignitisation Roller Coaster in Greece: An
                                        Old Car and a Steep Slope Ahead. <strong>The Future of Work</strong>. Available
                                        at:
                                        <a href="https://republic.gr/futureofwork/the-delignitisation-roller-coaster-in-greece-an-old-car-and-a-steep-slope-ahead/"
                                           target="_blank">https://republic.gr/futureofwork/the-delignitisation-roller-coaster-in-greece-an-old-car-and-a-steep-slope-ahead/</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Coal</span>
                                        <span class="text-tag">Delignitisation</span>
                                        <span class="text-tag">Greece</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_5">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="true"
                                            aria-controls="collapse_5" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Climate injustice adds more inequalities
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_5" class="collapse "
                                 aria-labelledby="heading_5"
                                 data-parent="#accordion_5">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        March 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The issue of climate justice is fundamental, as the least responsible for
                                        climate change are those to suffer its worst consequences. Climate crisis has
                                        resulted in “triple injustice”, since it is usually the most vulnerable that are
                                        affected by it, who are also the least responsible for its creation and whose
                                        already unlivable conditions are made even worse by climate change phenomena.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas, Ioannis Tsipouridis
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        E-mc2 - Energy Matters to Climate change
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.e-mc2.gr/en/news/climate-injustice-adds-more-inequalities"
                                           target="_blank">Climate injustice adds more inequalities</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Climate Injustice</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_6">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_6" aria-expanded="true"
                                            aria-controls="collapse_6" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        The environmental cost of fast fashion
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_6" class="collapse "
                                 aria-labelledby="heading_6"
                                 data-parent="#accordion_6">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        March 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The so-called “fast fashion” entails a cost that is not at all negligible. And
                                        the pandemic has highlighted it.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        HuffPost
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.huffingtonpost.gr/entry/ntesimo-poe-skotonei_gr_603e0822c5b6ff75ac3f2d23"
                                           target="_blank">The environmental cost of fast fashion (in Greek)</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_7">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_7">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_7" aria-expanded="true"
                                            aria-controls="collapse_7" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Involve citizens in climate-policy modelling
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_7" class="collapse "
                                 aria-labelledby="heading_7"
                                 data-parent="#accordion_7">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        February 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The latest draft of the working-group report on mitigating climate change is now
                                        open for review by governments and scientists, as part of the Intergovernmental
                                        Panel on Climate Change’s Sixth Assessment. We think it is now time to include
                                        citizens’ views.
                                        <br>

                                        Despite some progress since the 2014 assessment, non-scientists are barely
                                        represented in the integrated modelling studies that underpin such reports.
                                        Their involvement has long been promised.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Nature
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.nature.com/articles/d41586-021-00283-w"
                                           target="_blank">doi:10.1038/d41586-021-00283-w</a>
                                    </p>

                                    <p>
                                        <strong>Ciatation:</strong>
                                        Doukas, H., & Nikas, A. (2021). Involve citizens in climate-policy modelling.
                                        <strong>Nature</strong>, 590, 389.
                                    </p>

                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Citizen participation</span>
                                        <span class="text-tag">Stakeholders</span>
                                        <span class="text-tag">Integrated assessment models</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_8">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_8">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_8" aria-expanded="true"
                                            aria-controls="collapse_8" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        How best to achieve a desirable transition to a low-carbon economy: the case of
                                        Sub-Saharan Africa.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_8" class="collapse "
                                 aria-labelledby="heading_8"
                                 data-parent="#accordion_8">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        October 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        As there is no “one model fits all” approach, scientists need to employ a
                                        diversity of modelling tools, placing the human factor at the core of all
                                        scientific processes, towards enhancing the robustness of model-driven policy
                                        prescriptions through participatory frameworks.

                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas, Michael Saulo, Ioannis Tsipouridis
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Africa Sustainability Matters
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://africasustainabilitymatters.com/how-best-to-achieve-a-desirable-transition-to-a-low-carbon-economy-the-case-of-sub-saharan-africa/"
                                           target="_blank">How best to achieve a desirable transition to a low-carbon
                                            economy:the case of Sub-Saharan Africa.</a>
                                    </p>

                                    <p>
                                        <strong>Ciatation:</strong>
                                        Doukas, H., Nikas, A., Saulo, M., & Tsipouridis, I. (2020). How best to achieve
                                        a desirable transition to a low-carbon economy: the case of Sub-Saharan Africa.
                                        Africa Sustainability Matters. October 24, 2020.
                                    </p>

                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Co-creation</span>
                                        <span class="text-tag">Stakeholders</span>
                                        <span class="text-tag">Kenya</span>
                                        <span class="text-tag">Sub-Saharan Africa</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_9">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_9">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_9" aria-expanded="true"
                                            aria-controls="collapse_9" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Green glimmers of hope in climate action through a European, citizen-led
                                        transition model
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_9" class="collapse "
                                 aria-labelledby="heading_9"
                                 data-parent="#accordion_9">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        September 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        There is no space for “one crisis at a time”. And evidence suggests that
                                        behavioural changes have been instrumental in reducing the spread of COVID-19.
                                        The climate crisis is no different.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas, Ioannis Tsipouridis
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        New Europe
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.neweurope.eu/article/green-glimmers-of-hope-in-climate-action-through-a-european-citizen-led-transition-model/"
                                           target="_blank">Green glimmers of hope in climate action through a European,
                                            citizen-led transition model</a>
                                    </p>

                                    <p>
                                        <strong>Ciatation:</strong>
                                        Doukas. H., Nikas, A., & Tsipouridis, I. (2020). Green glimmers of hope in
                                        climate action through a European, citizen-led transition model. New Europe.
                                        August 27, 2020.</p>

                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Greenhouse Gas Emissions</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_10">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_10">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_10" aria-expanded="true"
                                            aria-controls="collapse_10" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Positive and negative effects of the coronavirus pandemic on climate change
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_10" class="collapse "
                                 aria-labelledby="heading_10"
                                 data-parent="#accordion_10">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        June 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Annela Anger-Kraavi, a senior researcher in climate change policy and economics
                                        at the University of Cambridge, highlights three positive and three negative
                                        effects of the coronavirus pandemic on climate change.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Annela Anger-Kraavi
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://estonianworld.com/opinion/annela-anger-kraavi-positive-and-negative-effects-of-the-coronavirus-pandemic-on-climate-change/"
                                           target="_blank">Positive and negative effects of the coronavirus pandemic on
                                            climate change</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">Climate Change</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_11">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_11">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_11" aria-expanded="true"
                                            aria-controls="collapse_11" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Convergence between technological progress and sustainability is not that
                                        obvious
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_11" class="collapse "
                                 aria-labelledby="heading_11"
                                 data-parent="#accordion_11">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The coronavirus pandemic, like climate change, teaches us about the importance
                                        of mitigating risk to ensure our future prosperity. Should we place all our
                                        hopes on technology to deliver this safer future?</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas, Alexandros Nikas, Ajay Gambhir
                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        The Parliament Magazine
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.theparliamentmagazine.eu/articles/opinion/convergence-between-technological-progress-and-sustainability-not-obvious"
                                           target="_blank">Convergence between technological progress and sustainability
                                            is not that
                                            obvious</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Sustainability</span>
                                        <span class="text-tag">COVID-19</span>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">Greenhouse gas emissions</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_12">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_12">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_12" aria-expanded="true"
                                            aria-controls="collapse_12" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        A net-zero emissions economic recovery from COVID-19
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_12" class="collapse "
                                 aria-labelledby="heading_12"
                                 data-parent="#accordion_12">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This briefing identifies key recovery policies that the UK government could
                                        introduce to both respond to the crisis of COVID-19, and support the country in
                                        meeting its commitment to reaching net-zero emissions by 2050.</p>
                                    <p>It has been produced in association with the COP26 Universities Network, a
                                        growing group of more than 30 UK-based universities working together to help
                                        deliver an ambitious outcome at the UN Climate Summit in Glasgow and beyond.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Jennifer Allan, Charles Donovan, Paul Ekins, Ajay Gambhir, Cameron Hepburn,
                                        David Reay,
                                        Nick Robins, Emily Shuckburgh, Dimitri Zenghelis
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="http://www.imperial.ac.uk/grantham/publications/a-net-zero-emissions-economic-recovery-from-covid-19.php"
                                           target="_blank">A net-zero emissions economic recovery from COVID-19
                                        </a>
                                        <a href="https://www.smithschool.ox.ac.uk/publications/wpapers/workingpaper20-01.pdf"
                                           target="_blank">Βackground working paper
                                        </a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">COVID-19</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_13">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_13">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_13" aria-expanded="true"
                                            aria-controls="collapse_13" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Coronavirus: How we emerge from this terrible crisis could push us into a better
                                        future
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_13" class="collapse "
                                 aria-labelledby="heading_13"
                                 data-parent="#accordion_13">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        March 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The COVID-19 global pandemic is pushing institutions and governments to their
                                        limits. People are worried about their health, their families, losing their jobs
                                        and the uncertainty the future holds. The economic fallout of this crisis is
                                        still uncertain too, and we may well wake up in a few months to a world
                                        completely transformed. While the current focus should be on minimising the loss
                                        of life, governments around the world are already responding to support a
                                        faltering, if not free falling, global economy. The stimulus packages provided
                                        will total in the trillions of dollars, euros, pounds, yen, yuan, pesos and many
                                        other currencies.</p>
                                    <p>This crisis has exposed many vulnerabilities that can be traced back to the
                                        unsustainable development that has ravaged the environment, and yet failed to
                                        eradicate poverty and hunger. Governments should take a moment to reflect, learn
                                        from past mistakes and redirect development towards a sustainable future.
                                        Medical professionals are putting their lives on the line to contain the virus;
                                        decision-makers owe it to them to rebuild the world in a way that makes it more
                                        resilient to similar situations in the future. Political and financial leaders,
                                        said International Energy Agency head Dr Fatih Birol, should consider directing
                                        economic stimulus packages that “shape policies … to step up our ambition to
                                        tackle climate change.”</p>
                                    <p>How can the government response to COVID-19 help create a more sustainable,
                                        resilient, healthy future?</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Alex Koberle
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://granthaminstitute.com/2020/03/25/coronavirus-how-we-emerge-from-this-terrible-crisis-could-push-us-into-a-greener-future/"
                                           target="_blank"> Coronavirus: How we emerge from this terrible crisis could
                                            push us into a better
                                            future
                                        </a>

                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">COVID-19</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_14">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_14">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_14" aria-expanded="true"
                                            aria-controls="collapse_14" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Coronavirus and climate change: “There is much uncertainty, and much to play
                                        for”
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_14" class="collapse "
                                 aria-labelledby="heading_14"
                                 data-parent="#accordion_14">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        March 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Coronavirus is here. Its impact on our health systems, economies and behaviours
                                        cannot yet be understood, but analogies have already been drawn between this
                                        immediate challenge and the more chronic, insidious climate change challenge.
                                    </p>
                                    <p>Any broader analysis of coronavirus, beyond that which centres around how to
                                        minimise and mitigate its impact, arguably risks being insensitive or
                                        inappropriate at this time. Millions of vulnerable people of all ages are in
                                        danger and the UK’s own perennially optimistic prime minister has said that we
                                        must be prepared to lose some loved ones before their time. However, it’s
                                        critical to reflect on any lessons we might learn from coronavirus so that we
                                        can tackle climate change as effectively as possible.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Ajay Gambhir
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://granthaminstitute.com/2020/03/17/coronavirus-and-climate-change-there-is-much-uncertainty-and-much-to-play-for/"
                                           target="_blank"> Coronavirus and climate change: “There is much uncertainty,
                                            and much to play
                                            for”
                                        </a>

                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">COVID-19</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_15">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_15">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_15" aria-expanded="true"
                                            aria-controls="collapse_15" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        How changes brought on by coronavirus could help tackle climate change
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_15" class="collapse "
                                 aria-labelledby="heading_15"
                                 data-parent="#accordion_15">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        March 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Stock markets around the world had some of their worst performance in decades
                                        this past week, well surpassing that of the global financial crisis in 2008.
                                        Restrictions in the free movement of people is disrupting economic activity
                                        across the world as measures to control the coronavirus roll out.</p>
                                    <p>There is a strong link between economic activity and global carbon dioxide
                                        emissions, due to the dominance of fossil fuel sources of energy. This coupling
                                        suggests we might be in for an unexpected surprise due to the coronavirus
                                        pandemic: a slowdown of carbon dioxide emissions due to reduced energy
                                        consumption.</p>
                                    <p>Based on new projections for economic growth in 2020, we suggest the impact of
                                        the coronavirus might significantly curb global emissions.</p>
                                    <p>
                                        The effect is likely to be less pronounced than during the global financial
                                        crisis (GFC). And emissions declines in response to past economic crises suggest
                                        a rapid recovery of emissions when the pandemic is over.
                                    </p>
                                    <p>
                                        But prudent spending of economic stimulus measures, and a permanent adoption of
                                        new work behaviours, could influence how emissions evolve in future.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Glen P. Peters
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://theconversation.com/how-changes-brought-on-by-coronavirus-could-help-tackle-climate-change-133509"
                                           target="_blank"> How changes brought on by coronavirus could help tackle climate change
                                        </a>

                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Coronavirus</span>
                                        <span class="text-tag">COVID-19</span>
                                        <span class="text-tag">Air Travel</span>
                                        <span class="text-tag">Greenhouse Gas Emissions</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-yellow").hide();
    </script>
{% endblock %}