{% extends 'visualiser/main_visualiser_am4.html' %}
{% block content %}
 <div id="chartdiv"></div>
<!--https://www.amcharts.com/docs/v4/concepts/legend/heat-legend/-->
<!--This is a risk map, but maybe we could (in the future) have a similar graph showing “levels of contribution”
(high/medium/low) of our models for the GST?
 https://www.carbonbrief.org/in-depth-qa-the-ipccs-special-report-on-climate-change-and-land-->
<!--TODO alternative of this chart https://www.amcharts.com/demos/columns-with-moving-bullets/-->
<script>
    var chart = am4core.create("chartdiv", am4charts.XYChart);

/* Add data */
chart.data = [{
  "category": "Research",
  "value": 450
}, {
  "category": "Marketing",
  "value": 1200
}, {
  "category": "Distribution",
  "value": 1850
}, {
  "category": "HR",
  "value": 850
}, {
  "category": "Sales",
  "value": 499
}, {
  "category": "Support",
  "value": 871
}, {
  "category": "Other",
  "value": 512
}];

/* Create axes */
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "category";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

/* Create series */
var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.valueY = "value";
series.dataFields.categoryX = "category";
series.columns.template.strokeWidth = 0;

/* Create a heat rule */
series.heatRules.push({
  "target": series.columns.template,
  "property": "fill",
  "min": am4core.color("#F5DBCB"),
  "max": am4core.color("#ED7B84"),
  "dataField": "valueY"
});

/* Create a heat legend */
var heatLegend = chart.createChild(am4charts.HeatLegend);
heatLegend.width = am4core.percent(100);
heatLegend.minColor = am4core.color("#F5DBCB");
heatLegend.maxColor = am4core.color("#ED7B84");
heatLegend.minValue = 0;
heatLegend.maxValue = 2000;
</script>
{% endblock %}