{% extends 'visualiser/main_visualiser_am4.html' %}
{% block content %}
    <div id="chartdiv"></div>
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);

            // Add data
            chart.data = {{ chart_data|safe }};
            var x_axis_title = "{{x_axis_title}}";
            var x_axis_name = "{{ x_axis_name }}";
            var x_axis_unit = "{{ x_axis_unit }}";
            var y_axis_name = "{{ y_axis_name }}";
            var y_axis_title = "{{ y_axis_title }}";
            var y_axis_unit = "{{ y_axis_unit }}";
            var z_axis_title = "{{z_axis_title}}";
            var z_axis_name = "{{ z_axis_name }}";
            var z_axis_unit = "{{ z_axis_unit }}";
            var color_list = {{ color_list|safe }};
            var minmax_z_value = {{ minmax_z_value|safe }};
            //Fix colors
            var light_color;
            var dark_color;
            if (color_list.length === 2) {
                light_color = color_list[0];
                dark_color = color_list[1];
            } else {
                light_color = new am4core.InterfaceColorSet().getFor("background");
                dark_color = color_list[0]
            }

            var xAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            xAxis.title.text = x_axis_title + " (" + x_axis_unit + ")";
            xAxis.title.fontWeight = 600;

            var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            yAxis.title.text = y_axis_title + " (" + y_axis_unit + ")";
            yAxis.title.fontWeight = 600;

            xAxis.renderer.grid.template.disabled = true;
            xAxis.renderer.minGridDistance = 30;

            yAxis.renderer.grid.template.disabled = true;
            yAxis.renderer.inversed = true;
            yAxis.renderer.minGridDistance = 30;

            xAxis.dataFields.category = x_axis_name;
            yAxis.dataFields.category = y_axis_name;

            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryX = x_axis_name;
            series.dataFields.categoryY = y_axis_name;
            series.dataFields.value = z_axis_name;
            series.sequencedInterpolation = true;
            series.defaultState.transitionDuration = 3000;
            if(color_list.length==2) {
                series.tooltip.autoTextColor = false;
                series.tooltip.label.fill = am4core.color("#FFFFFF");
            }
            series.columns.template.column.cornerRadiusTopLeft = 1;
            series.columns.template.column.cornerRadiusTopRight = 1;
            series.columns.template.column.cornerRadiusBottomLeft = 1;
            series.columns.template.column.cornerRadiusBottomRight = 1;


            var columnTemplate = series.columns.template;
            columnTemplate.strokeWidth = 1;
            columnTemplate.strokeOpacity = 0.2;
            columnTemplate.stroke = light_color;
            columnTemplate.tooltipText = x_axis_title+": " + "{" + x_axis_name + "}\n"+ y_axis_title +": {" +
                y_axis_name + "}\n"+ z_axis_title +": {value.workingValue.formatNumber('#.')} " + z_axis_unit ;
            columnTemplate.width = am4core.percent(100);
            columnTemplate.height = am4core.percent(100);


            series.heatRules.push({
                target: columnTemplate,
                property: "fill",
                min: am4core.color(light_color),
                max: am4core.color(dark_color)
            });

            // heat legend
            var heatLegend = chart.bottomAxesContainer.createChild(am4charts.HeatLegend);
            heatLegend.width = am4core.percent(100);
            heatLegend.series = series;
            heatLegend.minValue = minmax_z_value[0];
            heatLegend.maxValue = minmax_z_value[1];
            heatLegend.minColor = am4core.color(light_color);
            heatLegend.maxColor = am4core.color(dark_color);
            heatLegend.valueAxis.renderer.labels.template.fontSize = 15;
            heatLegend.valueAxis.renderer.minGridDistance = 40;

            // heat legend behavior
            series.columns.template.events.on("over", function (event) {
                handleHover(event.target);
            });

            series.columns.template.events.on("hit", function (event) {
                handleHover(event.target);
            });

            function handleHover(column) {
                if (!isNaN(column.dataItem.value)) {
                    heatLegend.valueAxis.showTooltipAt(column.dataItem.value)
                } else {
                    heatLegend.valueAxis.hideTooltip();
                }
            }

            series.columns.template.events.on("out", function (event) {
                heatLegend.valueAxis.hideTooltip();
            });


        });

    </script>
{% endblock %}

