{% extends 'visualiser/main_visualiser_am4.html' %}
{% block content %}
 <div id="chartdiv"></div>
<!--https://www.amcharts.com/demos/range-chart-with-different-fill-colors/-->
<!-- Chart code -->

<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);

chart.data = [{close: 104, date: 1577743200000, myVar: 113.0, open: 122},
 {close: 70, date: 1577829600000, myVar: 95.5, open: 121},
 {close: 55, date: 1577916000000, myVar: 78.0, open: 101},
 {close: 45, date: 1578002400000, myVar: 74.0, open: 103},
 {close: 85, date: 1578088800000, myVar: 119.0, open: 153},
 {close: 116, date: 1578175200000, myVar: 133.0, open: 150},
 {close: 153, date: 1578261600000, myVar: 144.0, open: 135},
 {close: 152, date: 1578348000000, myVar: 125.0, open: 98},
 {close: 192, date: 1578434400000, myVar: 146.5, open: 101},
 {close: 225, date: 1578520800000, myVar: 167.5, open: 110},
 {close: 233, date: 1578607200000, myVar: 195.0, open: 157},
 {close: 232, date: 1578693600000, myVar: 180.0, open: 128},
 {close: 235, date: 1578780000000, myVar: 168.0, open: 101},
 {close: 200, date: 1578866400000, myVar: 154.5, open: 109},
 {close: 214, date: 1578952800000, myVar: 178.0, open: 142},
 {close: 224, date: 1579039200000, myVar: 173.5, open: 123},
 {close: 176, date: 1579125600000, myVar: 137.5, open: 99},
 {close: 172, date: 1579212000000, myVar: 136.0, open: 100},
 {close: 138, date: 1579298400000, myVar: 102.5, open: 67},
 {close: 127, date: 1579384800000, myVar: 104.0, open: 81},
 {close: 137, date: 1579471200000, myVar: 88.0, open: 39},
 {close: 127, date: 1579557600000, myVar: 100.0, open: 73},
 {close: 154, date: 1579644000000, myVar: 116.0, open: 78},
 {close: 127, date: 1579730400000, myVar: 121.5, open: 116},
 {close: 78, date: 1579816800000, myVar: 107.0, open: 136},
 {close: 61, date: 1579903200000, myVar: 100.0, open: 139},
 {close: 13, date: 1579989600000, myVar: 87.5, open: 162},
 {close: 41, date: 1580076000000, myVar: 121.0, open: 201},
 {close: 72, date: 1580162400000, myVar: 146.5, open: 221},
 {close: 87, date: 1580248800000, myVar: 172.0, open: 257},
 {close: 114, date: 1580335200000, myVar: 162.5, open: 211},
 {close: 138, date: 1580421600000, myVar: 185.5, open: 233},
 {close: 141, date: 1580508000000, myVar: 201.0, open: 261},
 {close: 130, date: 1580594400000, myVar: 204.5, open: 279},
 {close2: 156.0, 'date': 1577743200000, myVar2: 169.5, open2: 183.0},
 {close2: 105.0, 'date': 1577829600000, myVar2: 143.25, open2: 181.5},
 {close2: 82.5, 'date': 1577916000000, myVar2: 117.0, open2: 151.5},
 {close2: 67.5, 'date': 1578002400000, myVar2: 111.0, open2: 154.5},
 {close2: 127.5, 'date': 1578088800000, myVar2: 178.5, open2: 229.5},
 {close2: 174.0, 'date': 1578175200000, myVar2: 199.5, open2: 225.0},
 {close2: 229.5, 'date': 1578261600000, myVar2: 216.0, open2: 202.5},
 {close2: 228.0, 'date': 1578348000000, myVar2: 187.5, open2: 147.0},
 {close2: 288.0, 'date': 1578434400000, myVar2: 219.75, open2: 151.5},
 {close2: 337.5, 'date': 1578520800000, myVar2: 251.25, open2: 165.0},
 {close2: 349.5, 'date': 1578607200000, myVar2: 292.5, open2: 235.5},
 {close2: 348.0, 'date': 1578693600000, myVar2: 270.0, open2: 192.0},
 {close2: 352.5, 'date': 1578780000000, myVar2: 252.0, open2: 151.5},
 {close2: 300.0, 'date': 1578866400000, myVar2: 231.75, open2: 163.5},
 {close2: 321.0, 'date': 1578952800000, myVar2: 267.0, open2: 213.0},
 {close2: 336.0, 'date': 1579039200000, myVar2: 260.25, open2: 184.5},
 {close2: 264.0, 'date': 1579125600000, myVar2: 206.25, open2: 148.5},
 {close2: 258.0, 'date': 1579212000000, myVar2: 204.0, open2: 150.0},
 {close2: 207.0, 'date': 1579298400000, myVar2: 153.75, open2: 100.5},
 {close2: 190.5, 'date': 1579384800000, myVar2: 156.0, open2: 121.5},
 {close2: 205.5, 'date': 1579471200000, myVar2: 132.0, open2: 58.5},
 {close2: 190.5, 'date': 1579557600000, myVar2: 150.0, open2: 109.5},
 {close2: 231.0, 'date': 1579644000000, myVar2: 174.0, open2: 117.0},
 {close2: 190.5, 'date': 1579730400000, myVar2: 182.25, open2: 174.0},
 {close2: 117.0, 'date': 1579816800000, myVar2: 160.5, open2: 204.0},
 {close2: 91.5, 'date': 1579903200000, myVar2: 150.0, open2: 208.5},
 {close2: 19.5, 'date': 1579989600000, myVar2: 131.25, open2: 243.0},
 {close2: 61.5, 'date': 1580076000000, myVar2: 181.5, open2: 301.5},
 {close2: 108.0, 'date': 1580162400000, myVar2: 219.75, open2: 331.5},
 {close2: 130.5, 'date': 1580248800000, myVar2: 258.0, open2: 385.5},
 {close2: 171.0, 'date': 1580335200000, myVar2: 243.75, open2: 316.5},
 {close2: 207.0, 'date': 1580421600000, myVar2: 278.25, open2: 349.5},
 {close2: 211.5, 'date': 1580508000000, myVar2: 301.5, open2: 391.5},
 {close2: 195.0, 'date': 1580594400000, myVar2: 306.75, open2: 418.5}
 ]




var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.grid.template.location = 0;
dateAxis.renderer.minGridDistance = 60;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.tooltip.disabled = true;

// only for the legend
var iconSeries = chart.series.push(new am4charts.ColumnSeries())
iconSeries.fill = am4core.color("#ec0800");
iconSeries.strokeOpacity = 0;
iconSeries.stroke = am4core.color("#ec0800");
iconSeries.name = "Events";
iconSeries.dataFields.dateX = "date";
iconSeries.dataFields.valueY = "v";

function create_range(setNameOfX,open, close, myVar, fillColor, myVarColor){



<!-- Set the range  between open and close and set and the close-->
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.dateX = setNameOfX;
series.dataFields.openValueY = open;
series.dataFields.valueY = close;
series.tooltipText = "open: {openValueY.value} close: {valueY.value}";
series.sequencedInterpolation = true;
series.stroke = am4core.color("#1b7cb3");
series.strokeWidth = 2;
series.name = "District Metered Usage";
series.stroke = chart.colors.getIndex(fillColor);
series.fill = series.stroke;
series.fillOpacity = 0.8;

var bullet = series.bullets.push(new am4charts.CircleBullet())
bullet.fill = new am4core.InterfaceColorSet().getFor("background");
bullet.fillOpacity = 1;
bullet.strokeWidth = 2;
bullet.circle.radius = 4;

// Set open
var series2 = chart.series.push(new am4charts.LineSeries());
series2.dataFields.dateX = setNameOfX;
series2.dataFields.valueY = open;
series2.sequencedInterpolation = true;
series2.strokeWidth = 2;
series2.tooltip.getFillFromObject = false;
series2.tooltip.getStrokeFromObject = true;
series2.tooltip.label.fill = am4core.color("#000");
series2.name = "SP Aggregate usage";
series2.stroke = chart.colors.getIndex(7);
series2.fill = series2.stroke;

var bullet2 = series2.bullets.push(new am4charts.CircleBullet())
bullet2.fill = bullet.fill;
bullet2.fillOpacity = 1;
bullet2.strokeWidth = 2;
bullet2.circle.radius = 4;
<!-- Set my var -->
var series3 = chart.series.push(new am4charts.LineSeries());
series3.dataFields.dateX = setNameOfX;
series3.dataFields.valueY = myVar;
series3.sequencedInterpolation = true;
series3.strokeWidth = 2;
series3.tooltip.getFillFromObject = false;
series3.tooltip.getStrokeFromObject = true;
series3.tooltip.label.fill = am4core.color("#000");
series3.name = "SP Aggregate usage";
series3.stroke = chart.colors.getIndex(myVarColor);
series3.fill = series2.stroke;
}

create_range("date","open","close","myVar",0,15);
create_range("date","open2","close2","myVar2",10,5);

chart.cursor = new am4charts.XYCursor();
chart.cursor.xAxis = dateAxis;
chart.scrollbarX = new am4core.Scrollbar();



}); // end am4core.ready()
</script>
{% endblock %}